<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="ConnectString" value="server=cosapxdev7;uid=sa;pwd=Advent.sa;database=CARS;" />
		<add key="SMPTHost" value="sfsmtp.advent.com" />
		<add key="DefaultEmailPassword" value="123" />
		<add key="DefaultEmailAccount" value="CARS-Reminder-NoReply@advent.com" />
	</appSettings>
</configuration>