<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaults" type="CARSService.SilverlightFaultBehavior, CARSService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="silverlightFaults">
          <silverlightFaults />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />    
  </system.serviceModel>
  
  <appSettings>
    <add key="ConnectString" value="server=cosapxdev7;uid=sa;pwd=Advent.sa;database=CARS;" />
    <add key="FrozenDay" value="1" />
    <add key="SMPTHost" value="sfsmtp.advent.com" />
    <add key="DefaultEmailPassword" value="123" />
    <add key="DefaultEmailAccount" value="CARS-NoReply@advent.com" />
    <add key="Version" value="1.0.20120613" />
    <add key="TimeFormatInEmail" value="yyyy-MM-dd HH:mm" />
    <add key="CARSAddress" value="http://cosapxdev7/cars" />
    <add key="AnnualLeaveReportForAdmin" value="http://cosapxdev7/reportserver?/carsreport/AnnualLeaveReportForAdmin" />
    <add key="SickLeaveReportForAdmin" value="http://cosapxdev7/reportserver?/carsreport/SickLeaveReportForAdmin" />
    <add key="AnnualLeaveReportForSupervisor" value="http://cosapxdev7/reportserver?/carsreport/AnnualLeaveReportForSupervisor" />
    <add key="SickLeaveReportForSupervisor" value="http://cosapxdev7/reportserver?/carsreport/SickLeaveReportForSupervisor" />
    <add key="UserManual" value="http://cosapxdev7/cars/comingsoon.htm" />
    <add key="ReportBug" value="http://pd/PD-China/IT/Lists/CARS%20Change%20Request/AllItems.aspx" />
  </appSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
